{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "asset/style/style.css" %}">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body id="bg">
  <style>
      body {
          background-image: url('{% static "asset/images/weatherWallpaper.jpg" %}');
          background-size: cover;
      }
  </style>
</body>
<body>
  <h1 class="col-md-3 text-center">Weather Detector</h1>
  <br />
  <br />
  <center class="row">
    <form action="" method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
  <div class="row">
    {% if data.country_code %}
    <div class="col-md-6 col-md-offset-3 outputBox">
      <h1>{{city}}</h1>
      <h3>country code : {{data.country_code}}</h1>
        <h5>coordinate : {{data.coordinate}}</h5>
        <h5>temp : {{data.temp}}</h5>
        <h5>pressure : {{data.pressure}} </h5>
        <h5>humidity : {{data.humidity}}</h5>
    </div>
    {% endif %}
  </div>
</body>
<body>
  <footer class="footer">
    <div class="links">
      <a href="https://www.facebook.com/" target="_blank" class="icon1" class="icon">Facebook</a>
      <a href="https://twitter.com/" target="_blank" class="icon2" class="icon">Twitter</a>
      <a href="https://www.instagram.com/" target="_blank" class="icon3" class="icon">Instagram</a>
      <a href="https://github.com/" target="_blank" class="icon4" class="icon">GitHub</a>
      <a href="https://in.linkedin.com/" target="_blank" class="icon5" class="icon">LinkedIn</a>
    </div>
    <p>&copy; 2024 Weather Detector. All rights reserved.</p>
  </footer>
</body>

</html>
